<div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card">
                    <span style="font-size:36px;" class="badge badge-success"></span>
                    <div class="card-body">
                        <h5 class="card-title">Bildirim</h5>
                        <hr>
                        <div class="row">
                            <div class="col-2"><img src="img/logo.png"/></div>
                            <div class="col-10">
                                <p class="card-text">
                                        FileDeployApp sitesini kullanan herkes aşağıda yazılı kuralları kabul etmiş sayılır.

                                        FileDeployApp sitesi yüklenen dosyalardan dolayı hiçbir şekilde hukuki ve cezai sorumluluk kabul etmez.Yüklenen dosyalar Türkiye Cumhuriyeti yasalarına, kişilik haklarına ve telif haklarına uygun olmalıdır.Aksi takdirde tüm sorumluluk dosyayı yükleyen kişiye ait olacaktır.
                                        
                                        FileDeployApp sitesi, barındırdığı dosyaların içeriğinden ötürü doğabilecek maddi ve manevi mağduriyetlerden ve zararlardan sorumlu tutulamaz.
                                        
                                        Kullanıcı, paylaşım sistemini yasal olmayan amaçlar doğrultusunda kullanmamayı kabul eder.
                                        
                                        Telif hakkı başkasına ait olan dosyaların yüklenmesi yasaktır.
                                        
                                        Kullanıcı, Türkiye Cumhuriyeti Kanunlarına göre suç teşkil eden dosyaları yüklememeyi kabul eder.
                                        
                                        FileDeployApp, yüklenilen dosyaların içerikleri ile ilgili herhangi bir sorumluluk kabul etmez.Tüm sorumluluk dosyayı yükleyene aittir.
                                        
                                        FileDeployApp yüklenilen dosyaları virüs taramasına tabi tutmamaktadır.Bu yüzden indirdiğiniz dosyaları lütfen virüs taramasından geçiriniz.
                                        
                                        FileDeployApp sitesi barındırdığı dosyaları herhangi bir gerekçe göstermeden silebilir.Herhangi bir nedenden dolayı yada şikayet üzerine dosya silinmesi durumunda kullanıcı hiçbir hak talep edemez.
                                        
                                        FileDeployApp sitesi bu kuralları istediği zaman tek taraflı olarak değiştirebilir.
                                        
                                        Web sitemizi ziyaret ettiğiniz zamanlarda reklam hizmeti vermek için üçüncü taraf reklam şirketlerini kullanmaktayız. Söz konusu şirketler, bu sitelere ve diğer web sitelerine yaptığınız ziyaretlerden elde ettikleri (adınız, adresiniz, e-posta adresiniz veya telefon numaranız dışındaki) bilgileri ilginizi çekecek ürün ve hizmetlerin reklamını size göstermek için kullanabilir. Bu uygulama hakkında bilgi edinmek için ve söz konusu bilgilerin bu şirketler tarafından kullanılmasını engellemek üzere seçeneklerinizin neler olduğunu öğrenmek isterseniz
                                </p></div>
                        </div>
                        <hr>
                        <div style="text-align: center"><a href="/" class="btn btn-primary">Ana Sayfaya Dön</a></div>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>